@use "../abstracts/index" as *;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Noto+Serif+KR:wght@200..900&display=swap");

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
input,
label,
table,
tr,
th,
td,
button,
textarea,
select,
a {
  font-family: $font-family-base;
  font-weight: font-weight(regular);
  font-size: font-size(body);
  color: $text-color;
  line-height: 160%;
  letter-spacing: $letter-spacing;
}
