// 정책 내 자주 쓰이는 리스트 스타일

// - 어쩌고저쩌고
ul.line-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  & > li {
    position: relative;
    padding-left: 6px;
    font-size: 0.875rem;
    word-break: keep-all;
    &::after {
      content: "-";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
// · 어쩌고저쩌고
ul.dot-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 16px;
  font-size: 0.875rem;
  text-align: left;
  & > li {
    list-style-type: disc;
    font-size: 0.875rem;
    word-break: keep-all;
  }
}
// 스타일 있는 · 어쩌고저쩌고
ul.dot-list2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 14px;
  text-align: left;
  & > li {
    position: relative;
    font-size: 0.875rem;
    word-break: keep-all;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -14px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #009aad;
      transform: translateY(-50%);
    }
  }
}
// 가. 어쩌고저쩌고
ol.korean-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 16px;
  text-align: left;
  & > li {
    list-style: hangul;
    font-size: 0.875rem;
    word-break: keep-all;
  }
}
// 1) 어쩌고저쩌고
ol.number-list-parenthesis {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  counter-reset: item;
  & > li {
    font-size: 0.875rem;
    word-break: keep-all;
    &::before {
      content: counter(item) ") ";
      counter-increment: item;
    }
  }
}
// 1. 어쩌고저쩌고
ol.number-list-decimal {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 16px;
  text-align: left;
  & > li {
    list-style: decimal;
    font-size: 0.875rem;
    word-break: keep-all;
  }
}
// ① 어쩌고저쩌고
ol.number-list-circle {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  counter-reset: item;
  & > li {
    position: relative;
    padding-left: 2em;
    font-size: 0.875rem;
    word-break: keep-all;
    &::before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: 4px;
      left: 7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid color(gray900);
      background: #fff;
      font-size: 0.75rem;
      color: color(gray900);
      text-align: center;
      line-height: 14px;
    }
  }
}
