@use "../abstracts/index" as *;
@use "../components/icons" as i;

#footer {
  height: 200px;
  background: linear-gradient(180deg, rgba(247, 248, 249, 0) 0%, #d7dde3 100%);
  @include tablet {
    height: 220px;
  }
  @include mobile {
    height: 284px;
  }
  .footer-inner {
    @include flexbox(space-between);
    max-width: $inner-width;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    @include mobile-tablet {
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
    @include tablet {
      padding: 0 24px;
    }
    @include mobile {
      max-width: $inner-width-mobile;
      padding: 0 $spacing-mobile;
      padding-bottom: 20px;
    }
    .footer-left {
      @include flexbox(null, flex-start, 20px);
      flex-direction: column;
      .logo {
        width: 154px;
        height: auto;
        @include mobile {
          width: 126px;
        }
      }
      .footer-text {
        address {
          dl {
            @include flexbox();
            padding-top: 4px;
            @include mobile {
              display: inline-block;
              padding-top: 0;
            }
            & > div {
              @include flexbox();
              @include mobile {
                display: contents;
              }
              dt {
                padding-right: 4px;
                @include mobile {
                  display: contents;
                }
                & > span {
                  position: relative;
                  padding-left: 25px;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    width: 1px;
                    height: 12px;
                    background: color(gray900);
                    transform: translateY(-50%);
                  }
                }
              }
              dd {
                @include mobile {
                  display: contents;
                }
              }
            }
          }
        }
        small {
          padding-top: 4px;
          font-size: rem(16);
          @include mobile {
            padding-top: 0;
            font-size: rem(14);
          }
        }
      }
    }
    .footer-right {
      @include flexbox(null, center, 20px);
      @include mobile-tablet {
        width: 100%;
      }
      @include tablet {
        justify-content: flex-end;
      }
      @include mobile {
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
      }
      .footer-links {
        @include flexbox(null, center, 8px);
        li.footer-link {
          height: 32px;
          a {
            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
      .footer-selectbox-wrap {
        position: relative;
        width: 180px;
        height: 36px;
        padding: 0 12px;
        border-radius: 8px;
        border: 1px solid color(gray900);
        line-height: 36px;
        cursor: pointer;
        &::after {
          @include i.icon-chevron(
            $top: 50%,
            $right: 12px,
            $color: color(gray700)
          );
          transform: translateY(-50%);
        }

        ul.footer-selectbox-dropdown {
          z-index: 99;
          position: absolute;
          top: -170px;
          left: 0;
          @include flexbox(flex-start, flex-start, 8px);
          flex-direction: column;
          width: 100%;
          height: 166px;
          max-height: 166px;
          padding: 12px;
          border: 1px solid color(gray900);
          background: color("white");
          overflow-y: auto;
          transition: height 0.3s ease, opacity 0.3s ease;

          display: none; // default
        }

        &.visible {
          &::after {
            transform: translateY(-50%) rotate(-180deg);
          }
          ul.footer-selectbox-dropdown {
            display: flex;
            height: 166px;
          }
        }
      }
    }
  }
}
